
body{
background-color: #3c3b3b;}

a{ 
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    margin: 600px;
    
    display: block;
    margin-block-start: 12em;
    

}


    
